@charset "utf-8"

/* hearder start */
header#main_header{width: 100%;display:block;background-color: skyblue;}
header#main_header>div.main_util{width: 1200px;margin: 0 auto;
	background-color:pink;}
header#main_header>div.main_util>nav.util_menu{float: left;}
header#main_header>div.main_util>nav.util_menu>nav.util_menu01{float: right;}

nav.util_menu>ul{}
nav.util_menu>ul>li{float:left;}
nav.util_menu>ul>li>a{display: block;line-height: 30px;padding:0 20px;
					background-color: #000;color:white;}


nav.util_menu01>ul{}
nav.util_menu01>ul>li{float:right;}
nav.util_menu01>ul>li>a{
	background-color: skyblue;color:white;}

div.header_logo{width: 500px;background-color:red;}
h1{width: 300px;background-color: #000;color:white;}

nav.util_menu02>ul{}
nav.util_menu02>ul>li{float:right;}
nav.util_menu02>ul>li>a{
	background-color: pink;color:white;}

