@charset "utf-8";

header#headerwrap{}
div.main_header{background-image: url(../images/background.png);
background-repeat: no-repeat;
background-size: cover;}
div.header{width: 980px; margin: 0 auto; _background-color: skyblue;}
div.logo{color:white;padding: 20px;}
div.logo>ul{}
div.logo>ul>li{float: left;}
div.logo>ul>li>img>h1>p{}