@charset "utf-8";
header#main_header{
	height: 1950px;background-color:lightgray;
	position: relative; margin-bottom: 100px;
}
	/*header_top*/
	#header_top{
		width: 1260px;_height: 50px;_background-color:pink;
		position: absolute;left:50%;margin-left:-630px;
		top:40px;z-index:1;
	}
	#header_top > h1{float: left;_background-color:#f00;height: 50px;}
	#header_top > #main_menu{float: right;_background-color: #0f0;}
	#main_menu{}
	#main_menu>ul{}
	#main_menu>ul>li{float: left;height: 50px;}
	#main_menu>ul>li>a{display: block;line-height:50px;padding:0 30px; color: #fff; font-weight: bold;}

	/*slider*/
	.slider_wrap{height: 1005px;}
	.slider_wrap ul li{height: 1005px;background-color:skyblue;}
	.slider_wrap li.slide_1st{
		background: url(../images01/header01.png) no-repeat center;
		background-size:cover;
	}
	.slider_wrap li.slide_2st{
		background: url(../images01/header02.png) no-repeat center;
		background-size:cover;
	}

	.slider_wrap .slider_txt{
		width: 1000px;position: absolute;
		left: 50%;margin-left:-500px;text-align: center;
		color:white;top:21%;
	}


	.slider_wrap .slider_txt h3{font-size:1.4em; color:#fff;}
	.slider_wrap .slider_txt span {font-size:1.7em;font-weight: bold;}
	.slider_wrap .slider_txt p{font-size:1.3em;color: #fff; padding-top: 30px;}
	.slider_wrap .slider_txt .headerbox{width: 300px; height: 50px; background-color: #FA8E01; position: absolute;}
	

	
	.slider_wrap .slider_txt h3{font-size:2.0em;}
	.slider_wrap .slider_txt span {font-weight: bold}
	.slider_wrap .slider_txt p{font-size:1.2em;padding-top: 30px;}


	.slider_wrap .slider_txt .main_box1{width: 25px;height: 3px;background-color: #fff;margin-left: 48%;margin-top:40px;}
	.slider_wrap .slider_txt .main_box2{width: 265px; height: 70px; background-color: #FA8E01; 
										position: absolute;left: 365px; bottom: -130px;
										border-radius: 20px;
									}
	.slider_wrap .slider_txt .main_box2 p{padding-top: 20px; font-size: 1.1em;}


	/*content*/
	.content{
		width: 1260px;margin: 0 auto;
		position: absolute;left:50%;margin-left:-630px;
		bottom:0;
	}
	.content > ul > li{
		float: left;width: 25%;height: 315px;background-color: #f00;
		position: relative;
	}
	.content > ul > li:nth-child(2n){background-color:skyblue;}
	.content > ul > li p{text-align: center;color:white;font-weight:bold;}
	
	
	
	.content > ul > li img{display: block;margin: 0 auto;transition:.3s;}
	.content > ul > li img.icon{margin-bottom: 15px;}
	.content > ul > li a.iconLink{display: block;height: 315px;padding-top:80px;}
	.content > ul > li .card{
		position: absolute;top:0;padding-left:50px;
		padding-top:50px;color:white;
	}
	.content > ul > li .card h3:after{
		content:"";display: block;width: 50px;height: 3px;
		background-color: #fff;margin:20px 0;

	}
	.content > ul > .ct7st .card h3:after{content:"";display: none;}

	.content > ul > li .card p{font-size:2em;text-align: left;}


	.content > ul > li.ct1st{background-color:#E9AD60;}
	.content > ul > li.ct2st{position: relative;overflow: hidden;}
	.content > ul > li.ct2st img.play{
		position: absolute;top:50%;left:50%;
		transform: translate(-50%,-50%);
	}
	.content > ul > li.ct2st:hover img.bgImg{transform:scale(1.2)}
	
	.content > ul > li.ct3st{width: 50%;}
	.content > ul > li.ct3st h2{position: relative;	z-index:1;left:50px;top:30px;}
	.content > ul > li.ct3st .slider2Wrap{
		position: absolute;top: 0;left: 0;
		width: 630px;
	}
	.content > ul > li.ct3st .slider2 li{}
	.content > ul > li.ct3st .slider2 li div{
		width: 315px;height: 315px;float: left;
	}
	.content > ul > li.ct3st .slider2 li div.left{
		padding-top:75px;padding-left:50px;padding-right:50px;
		background-color: #fff;
	}
	.content > ul > li.ct3st .slider2 li div.left:after{
		content:"";border-width:20px;border-style:solid;
		border-color:transparent transparent transparent white;
		position: absolute;left:315px;top:145px;
	}
	.content > ul > li.ct3st .btn{position: absolute;bottom:50px;right:365px;}
	.content > ul > li.ct3st .btn img{float: left;display: block;border: 1px solid #cdcdcd;}
	.content > ul > li.ct3st .btn img:first-child{border-right:none;}

	.content > ul > li.ct4st{background-color: #A1C9F9;}
	.content > ul > li.ct5st{background-color: #D6BA9C;}

	.content > ul > li.ct6st{width: 50%;position: relative;}
	.content > ul > .ct6st .card p{font-size: 2em; margin-top: 50px;}
	

	.content > ul > li.ct7st{height: 630px;}
	.content > ul > .ct7st .card {margin-left: 50px;margin-top: 210px;}
	.content > ul > .ct7st .card p{font-size: 3.3em; _margin-left: 10px;}

	.content > ul > li.ct8st{width: 50%;}
	.content > ul > li.ct9st{background-color: #B4888D;}
	.content > ul > li.ct10st{background-color: #382855;}
	.content > ul > li.ct11st{width: 50%;}


/*container*/

.container{
	height: 750px;
	background:url(../images01/img07.png) no-repeat center fixed;
	background-size: cover;
}
.container .section{width: 1260px;margin: 0 auto;padding-top:70px;}
.container h4{text-align: center;color:white;}
.container h4:after{
	content:"";display: block;width: 50px;height: 3px;
	background-color: #fff;margin:20px auto;

}
.container .section>p{text-align: center;color:white;font-size:2em;margin-bottom:70px;}
.container .vision li{
	float: left;margin-right:20px;width: 300px;height: 380px;
	_background-color:skyblue;transition:0.3s;
}
.container .vision li:hover{
	box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
	transform:translate(-10px,-10px);
	
}
.container .vision li:last-child{margin-right:0;}
.container .vision .card{
	width: 300px;height: 300px;
	_background-color:skyblue;position: relative;
}
.container .vision .card img{
	position: absolute;left:50%;
	transform:translateX(-50%);top:70px;
}
.container .vision .card .card_body{
	position: absolute;bottom:0;
	width: 300px;_height: 160px;padding:0 20px;
	text-align: center;color:white;
}
.container .vision .card .card_body h3{margin-bottom:10px;}

/* content2 */


.content2{
		width: 1260px;height: 750px;margin: 0 auto; padding-top: 70px;
		/* _position: absolute;left:50%;margin-left:-630px;
		_bottom:0;position: relative; */
	}


.content2 ul li {width: 25%;height: 315px;float: left; margin: 0 auto; background-color: #f00;}
.content2 > ul > li img{display: block;margin: 0 auto;}
.content2 ul .ct12st {height: 630px;}





.content2 ul li .card2{position: relative;}
.content2 ul li .card2 .card2_body{width: 100px height: 100px;position: absolute;top: 30px;left: 30px;}
.content2 ul li .card2 .card2_body h3{text-align: center;margin-top: 30px; color:white;}
.content2 ul li .card2 .card2_body p{margin-top: 30px; color:white;}



.content2 ul .ct14st {background-color: #e7c8a6;}
.content2 ul .ct16st {background-color: #e7c8a6;}
.content2 ul .ct18st {background-color: #e7c8a6;}

.content2 ul .ct14st .card2 {position: relative;}
.content2 ul .ct14st .card2 img {position: absolute; top: 200px; left: 30px;}
.content2 ul .ct14st .card2 h3 {position: absolute; top: 205px; left: 80px;}
.content2 ul .ct14st .card2 p{width: 315px;height: 315px;
							margin-top: 50px; text-align: center;}
.content2 ul .ct14st .card2 p:after{
		content:"";border-width:20px;border-style:solid;
		border-color: #e7c8a6 transparent transparent transparent;
		position: absolute; left: 140px; bottom: 10px; z-index: 1;}


.content2 ul .ct15st .card2	img:after{
		content:"";border-width:20px;border-style:solid;
		border-color:transparent transparent white;
		position: absolute; left: 140px; bottom: 50px;}						
						
.content2 ul .ct16st .card2 {position: relative;}
.content2 ul .ct16st .card2 img {position: absolute; top: 200px; left: 30px;}
.content2 ul .ct16st .card2 h3 {position: absolute; top: 205px; left: 80px;}						
.content2 ul .ct16st .card2 p{width: 315px;height: 315px;
							margin-top: 50px; text-align: center;
						}
.content2 ul .ct18st .card2 {position: relative;}
.content2 ul .ct18st .card2 img {position: absolute; top: 200px; left: 30px;}
.content2 ul .ct18st .card2 h3 {position: absolute; top: 205px; left: 80px;}						
.content2 ul .ct18st .card2 p{width: 315px;height: 315px;
							margin-top: 50px; text-align: center}
.content2 ul .ct18st .card2 p:after{
		content:"";border-width:20px;border-style:solid;
		border-color: transparent transparent #e7c8a6 ;
		position: absolute; left: 140px; top:-90px; z-index: 1;}							
						


.content3 {width: 1260px; height: 385px;margin: 0 auto; padding-top: 70px; margin-bottom: 70px;}
.content3 ul li {width: 50%; height: 315px;margin: 0 auto;float: left; background-color: skyblue;}
.content3 ul li img {display: block; margin: 0 auto;}

.content3 ul .ct19st {position: relative;}
.content3 ul .ct19st .card3 {width: 320px; height: 50px; background-color: #121153;
									text-align: center; color: white;
									position: absolute; top: 0;left: 160px;}
.content3 ul .ct19st .card3 h3{margin-top: 10px;}
.content3 ul .ct19st .card3 h2{color:white; margin-top: 50px;}	
.content3 ul .ct19st .card3 p{color:#F8D353;font-weight: bold;margin-top: 100px; }								





.footer{width: 1260px; margin: 0 auto; height: 200px;_background-color: orange;}
.footer .p_wrap {float: right; width: 707px; height: 63px; margin-right: 200px;margin-top: 50px;}
.footer .p_wrap p{padding-bottom: 20px;}
.footer .img_wrap{display: block;float: left; width: 150px; height: 50px; margin-left: 0;margin-top: 50px;}



.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
    border: 0 none; 
    background: #fff;
}


/* sub01 */

#sub_header{height: 460px; background-color: skyblue;}
#main_menu ul li a.active{color:#fa8e01;}
.txt_Wrap {position: relative;}
.txt_Wrap img{display: block;}
.txt_Wrap h1{position:absolute; top: 230px; left:800px;color:white;}

.box_Wrap{width: 1260px; height: 70px; background-color: #f00; margin: 0 auto;}
.box_Wrap ul{height: 70px;width: 1260px;}
.box_Wrap ul>li {height: 70px;float: left;border-right: 1px solid #000;}
.box_Wrap ul>li>a{display: block;line-height: 70px; width: 251px; height: 70px; 
				text-align: center; background-color: pink;}

.box_Wrap ul>li				